# Backend
shareme_backend/node_modules
shareme_backend/.pnp
shareme_backend/.pnp.js

shareme_backend/dist

shareme_backend/.sanity

shareme_backend/logs
shareme_backend/*.log

shareme_backend/coverage

shareme_backend/.DS_Store
shareme_backend/*.pem

shareme_backend/*.tsbuildinfo

shareme_backend/*.local


# Frontend
shareme_frontend/logs
shareme_frontend/*.log
shareme_frontend/npm-debug.log*
shareme_frontend/yarn-debug.log*
shareme_frontend/yarn-error.log*
shareme_frontend/pnpm-debug.log*
shareme_frontend/lerna-debug.log*

shareme_frontend/node_modules
shareme_frontend/dist
shareme_frontend/dist-ssr
shareme_frontend/*.local

shareme_frontend/.vscode/*
shareme_frontend/!.vscode/extensions.json
shareme_frontend/.idea
shareme_frontend/.DS_Store
shareme_frontend/*.suo
shareme_frontend/*.ntvs*
shareme_frontend/*.njsproj
shareme_frontend/*.sln
shareme_frontend/*.sw?
shareme_frontend/.env


